---
layout:     post
title:      "PDF Test"
date:       2018-08-11 12:00:00
author:     "CrazyIvan"
header-img: "img/post-bg-miui6.jpg"
tags:
    - PDF
---
<object data="/img/test.pdf" type="application/pdf" width="100%" height="100%">
   <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/test.pdf">Download PDF</a>.</p>
</object>
<!--
<embed src="/test.pdf" type="application/pdf" width="100%" height="100%">

<iframe src="/test.pdf" width="100%" height="100%">
This browser does not support PDFs. Please download the PDF to view it: <a href="/test.pdf">Download PDF</a>
</iframe>

<object data="/test.pdf" type="application/pdf" width="100%" height="100%">
<iframe src="/test.pdf" width="100%" height="100%" style="border: none;">
This browser does not support PDFs. Please download the PDF to view it: <a href="/test.pdf">Download PDF</a>
</iframe>
</object>
-->
